body{
  background: #303144;
  font-family: 'Montserrat', sans-serif;
  margin:0;
}

header{
  background-color: transparent;
  height: 90px;
  position:fixed;
  top:0;
  z-index:1;
  width: 100%;
  margin:0;
  padding:0;
}

#purple{
  position:absolute;
  top:0;
  left:0;
  display:none;
}

div.img{
  width:80px;
  position:relative;
  margin: 20px;
  z-index: 1;
}

nav{
  position:relative;
  top:-4rem;
  right:-46rem;
  margin: 20px;
  z-index:1;
}

nav>ul>li{
  list-style: none;
  display:inline-block;
}

nav>ul>li>a{
  color:white;
  text-decoration: none;
  margin-right: 16px;
  padding:10px;
}

.log{
  border:1px solid white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px white;
}

.sign{
  display:none;
  border:1px solid #D50082;
  padding: 10px;
  border-radius: 10px;
  color:#D50082;
  box-shadow: 2px 2px 2px #D50082;
}

.login{
  border:1px solid black;
  padding: 10px;
  border-radius: 10px;
  color:black;
  box-shadow: 2px 2px 2px black;
}

.up{
  background-color: white;
  color:black;
}

video.principal{
  position:relative;
  top:0;
}

.black{
  color:black;
}

aside{
  position: absolute;
  top: 167px;
  right: 0;
  width: 40%;
  background: white;
  padding:20px;
  color:#352384;
}

aside>h2{
  margin:0;
  font-size: 2rem;
}

input[type="text"]{
  border:1px;
  border-bottom: 1px solid #728099;
  display:inline-block;
  width: 100%;
  color:#728099;
  margin-bottom: 20px;
}

input.red{
  border:1px;
  border-bottom: 1px solid red;
  display:inline-block;
  width: 100%;
  color:#728099;
  margin-bottom: 20px;
}

#become{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding:10px;
  color:white;
  background-color:#D50082;
  border-radius: 10px;
  margin:20px 0;
  margin-right: 10px;
}

aside>a{
  color:#728099;

}

input.oculta{
  display:none;
}

aside>img{
  display:none;
  width: 6%;
  position: relative;
  top: -52px;
  right: -480px;
}

article{
  background: linear-gradient(#2B1E66, #76278f);
  margin:0;
  padding-top: 0;
  height: 574px;
}

article>img{
  float:right;
  margin-right:10%;
}

div.uno{
  color:white;
  margin-left:10%;
  margin-bottom: 5%;

}

div>h3{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  margin-bottom: 5px;
  padding-top: 10px;
}

div>p{
  font-size: 12px;
  margin:0;
  margin-bottom: 5px;
}

div.video1{
  clear:both;
  background-color: white;
  overflow:auto;
}

div.video1>.youtube-player1{
  float:right;
}

div.text1{
  width: 40%;
}

div.text1>span{
  font-weight: bold;
  display:inline-block;
  margin:80px;
  margin-bottom: 0;
}

div.text1>h3{
  font-weight: bold;
  font-size: 2rem;
  display:block;
  margin:80px;
  margin-top:0;
  margin-bottom: 40px;
}

div.text1>p{
  display:block;
  font-size: 1rem;
  margin:10px 80px;
  width: 60%;
  text-align: justify;
}

div.video2{
  clear: both;
  background-color: white;
  overflow:auto;
}

div.video2>.text2{
  display:inline-block;
  width: 40%;
  float:right;
  background-color: white;
}

div.video2>.youtube-player2{
  float:left;
}

div.text2>span{
  font-weight: bold;
  display:inline-block;
  margin:80px;
  margin-bottom: 0;
}

div.text2>h3{
  font-weight: bold;
  font-size: 2rem;
  display:block;
  margin:80px;
  margin-top:0;
  margin-bottom: 40px;
}

div.text2>p{
  display:block;
  font-size: 1rem;
  margin:10px 80px;
  width: 60%;
  text-align: justify;
}

div.video3{
  clear: both;
  background-color: white;
  overflow:auto;
}

div.video3>.text3{
  display:inline-block;
  width: 40%;
  float:left;
  background-color: white;
}

div.video3>.youtube-player3{
  float:right;
}

div.text3>span{
  font-weight: bold;
  display:inline-block;
  margin:80px;
  margin-bottom: 0;
}

div.text3>h3{
  font-weight: bold;
  font-size: 2rem;
  display:block;
  margin:80px;
  margin-top:0;
  margin-bottom: 40px;
}

div.text3>p{
  text-align: justify;
  display:block;
  font-size: 1rem;
  margin:10px 80px;
  width: 60%;
}

ul{
  margin:0;
  padding:0;
  list-style: none;
  display: inline-block;
  color:white;
}

ul>li{
  list-style: none;
  margin-bottom:10px;
  color:white;
}

.hov:hover{
  color:#D50082;
  cursor:pointer;
}

div.tr1{
  width: 20%;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
  position:relative;
  top:0;
  left:10%;
  font-size: 16px;
  font-weight: 400;
}

div.tr1>ul>li{
  font-size: 20px;
  font-weight: bold;
}

.subline:hover{
  text-decoration: underline;
  cursor:pointer;
}

div.tr2{
  width: 20%;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
  position:relative;
  top:0;
  left:10%;
  font-size: 16px;
}

div.tr2>ul>li{
  font-size: 20px;
  font-weight: bold;
}

div.tr2>ul:hover>li{
  text-decoration: underline;
  cursor:pointer;
}

div.tr3{
  width: 20%;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
  position:relative;
  top:0;
  left:10%;
  font-size: 16px;
}

div.tr3>ul>li{
  font-size: 20px;
  font-weight: bold;
}

div.tr3>ul:hover>li{
  text-decoration: underline;
  cursor:pointer;
}

footer{
  margin:0;
  padding:30px;;
  clear:both;
  background-color: #303144;
  height: 300px;
}

div.vacio{
  height: 100px;
  background-color: #303144;
  width: 100%;
  margin:0;
  padding: 0;
}

img.foot1{
  position: relative;
  top: -95px;
  left: 104px;
}

img.foot2{
  position: relative;
  top: -40px;
  left:-21px;
}

img.foot3{
  position: relative;
  top: 21px;
  left: -142px;
}

div.redes{
  margin:20px;
  text-align: center;
}

div.line{
  background-color: white;
  color:white;
  width: 60%;
  margin:0 auto;
  line-height: 5px;
}

div.copy{
  text-align: center;
  color:white;
  margin-top: 5px;
}
